h1 {
    color: white;
}

h5 {
    color: white;
}

p {
    color: white;
}

ul > li {
    color: white;
}

.coin p{
    font-family: georgia;
    font-style: italic;
    position: absolute;
    font-size: 28px;
    z-index: 700;
    top: -19px;
    left: 19px;
}
  
.coin.bronze p{  color: rgba(223,182,103,1);}
.coin.silver p{  color: rgba(160,160,160,1);}
.coin.gold p{  color: rgba(242,215,50,1);}
  
.coin{
    cursor: pointer;
    content: "";
    width: 90px; 
    height: 90px;
    display: inline-block;
    position: relative;
    margin: 5px;
    top: 6px;
    border-radius: 50px;
    z-index: 500;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.bronze{
	width: 42px; 
    height: 42px;
    background: linear-gradient(45deg, rgba(193, 126, 48, 1) 50%,  rgba(215, 140, 54, 1) 50%);
}
  
.silver{
	width: 60px; 
    height: 60px;
    background: linear-gradient(45deg, rgba(169, 169, 169, 1) 50%, rgba(192, 192, 192, 1) 50%);
}
  
.gold{
    background: linear-gradient(45deg, rgba(227, 160, 53, 1) 50%, rgba(253, 178, 59, 1) 50%);
}

.gold-img {
    height: 160px;
    width: auto;
}

.silver-img {
    height: 130px;
    width: auto;
}

.bronze-img {
    height: 112px;
    width: auto;
}

.class-img {
    width: 450px;
    height: auto;
    transform: translateX(-51%) translateY(5%);
    left: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}