<crud>
    <div picture>
        <img class="img-top" src="assets/logos/nollep2018.png" alt="Card image cap">
        <!-- <div class="card-body">
        </div> -->
    </div>
    <div text>
        <h1>Home</h1>
        <br>
        <h5>Välkommen till Nolleperioden!</h5>
        <p>
            Ett arrangemang som planeras och genomförs av ideellt arbetande studenter, 
            drivna av engagemang och en önskan att ge just dig ett lika roligt välkomnande som de själva fick. 
            Vår nolleperiod har ett och endast ett syfte: att ge dig som ny student en så bra start som möjligt på din studietid!
        </p>
        <br>
        <p>
            Nolleperioden pågår i en och en halv vecka. Under denna period arrangeras det lekar, tävlingar, konserter, spex, sittningar och massa annat skoj.
        </p>
        <ul style="list-style-type:disc">
            <li>Phösare kallas de frivilliga studenter som ställt upp för att hjälpa till med arrangemangen. De har under årets gång blivit utbildade i bland annat konflikthantering, ansvarsfull alkoholhantering, ledarskap och första hjälpen.</li>
            <li>Överphösare kallas de fyra studenter som tagit på sig att organisera hela nolleperioden. De har planerat vilka aktiviteter som skall hållas, varifrån man ska få alla pengarna, anordnat phösarutbildningen, samt alla möten som hålls för att skapa sammanhållning inom Phöseriet och se till att Phösarna är väl förberedda att leda er genom hela evenemanget.</li>
            <li>Skådespelet upprätthålls under hela Nolleperioden och är helt frivilligt. Vill man inte vara med i skådespelet så behöver man inte. Underförstått är också att man inte förstör för andra som vill vara med. Skådespelet handlar om en sorts ”rangordning” där Överphösarna står högst upp. Under dem finns Phösare (som ständigt får dras med Överphösarnas outgrundliga nycker) och Nollor (de nya studenterna som ännu inte hunnit börja ettan!). Mellan Phösare och Nollor finns ingen egentlig nivåskillnad, förutom att Phösarna har ett ansvar inför Överphösarna medan Nollorna bara är där för att ha roligt.</li>
            <li><strong>Så kom och ha roligt med oss!</strong></li>
        </ul>  
    </div>
</crud>