<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<crud>
	<div picture>
		<img class="img-top" src="assets/logos/nollep2018.png" alt="Card image cap">
		<!-- <div class="card-body">
		</div> -->
	</div>
	<div text>
		<h1>Kontakt</h1>
		<br>
		<h5><strong>Sociala medier:</strong></h5>
		<a href="https://www.facebook.com/NolleperiodenSkelleftea2018/" class="fa fa-facebook"></a>
		<a href="https://www.instagram.com/nollep2018/" class="fa fa-instagram"></a>		
	</div>
</crud>