<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
	<defs>
		<text id="text" x="50%" y="50%" font-family="Voltaire" font-size="45px" font-weight="800" text-anchor="middle" alignment-baseline="middle">
			Nolleperioden 2018
		</text>
	</defs>
	<filter id="glow">
		<feGaussianBlur id="glowBlur" stdDeviation="3.5" result="coloredBlur"/>
		<feMerge>
			<feMergeNode in="coloredBlur"/>
			<feMergeNode in="SourceGraphic"/>
		</feMerge>
	</filter>
	<filter id="shock">
		<feTurbulence type="fractalNoise" baseFrequency="0.2" numOctaves="1" seed="2" result="noise" id="noise">
<animate attributeType="XML" attributeName="seed" from="2" to="120" dur="12s" repeatCount="indefinite"/>
</feTurbulence>
		<feMorphology id="morph1" in="SourceGraphic" operator="dilate" radius="10" result="morph1" />
		<feMorphology id="morph2" in="morph1" operator="dilate" radius="2" result="morph2" />
		<feComposite operator="out" in="morph2" in2="morph1" result="strokeText"/>
		<feDisplacementMap 
					 xChannelSelector="R" 
					 yChannelSelector="G" 
					 in="strokeText" 
					 in2="noise"
					 result="displacementMap"
					 color-interpolation-filters="sRGB"
					 scale="10" />
		<feGaussianBlur stdDeviation="5" result="coloredBlur"/>
		<feMerge>
			<feMergeNode in="coloredBlur"/>
			<feMergeNode in="displacementMap"/>
		</feMerge>
	</filter>
<filter id="shock2">
		<feTurbulence type="fractalNoise" baseFrequency="0.2" numOctaves="1" seed="2" result="noise" id="noise">
<animate attributeType="XML" attributeName="seed" from="2" to="120" dur="10s" repeatCount="indefinite"/>
</feTurbulence>
		<feMorphology id="morph3" in="SourceGraphic" operator="dilate" radius="1" result="morph1" />
		<feMorphology id="morph4" in="morph1" operator="dilate" radius="1" result="morph2" />
		<feComposite operator="out" in="morph2" in2="morph1" result="strokeText"/>
		<feDisplacementMap 
					 xChannelSelector="R" 
					 yChannelSelector="G" 
					 in="strokeText" 
					 in2="noise"
					 result="displacementMap"
					 color-interpolation-filters="sRGB"
					 scale="10" />
		<feGaussianBlur stdDeviation="5" result="coloredBlur"/>
		<feMerge>
			<feMergeNode in="coloredBlur"/>
			<feMergeNode in="displacementMap"/>
		</feMerge>
	</filter>
<use xlink:href="#text" id="textShock" x="2" y="2" filter="url(#shock)" stroke="0" stroke-width="1" fill="#ccc"/>
<use xlink:href="#text" id="textShock" x="2" y="2" filter="url(#shock2)" stroke="0" stroke-width="1" fill="#f90"/>
<use xlink:href="#text" id="textFill" x="0" y="0" fill="white" />
<use xlink:href="#text" id="textGlow" x="0" y="0" filter="url(#glow)" stroke="#f90" stroke-width="0.1" fill="transparent"/>
</svg>