<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark">
	<!-- <h1 class="navbar-brand"></h1> -->
	<!-- Titel lg Screen -->
	<section class="font d-none d-sm-block">
        <header>
			<h1 class="main-font">Nolleperioden</h1>
			<h1 class="year-font screen">2018</h1>
        </header>
	</section>
	<!-- Titel Phone -->
	<div style="margin-top: -15px;">
		<section class="font d-sm-none">
			<header>
				<h1 class="main-font">Nolleperioden</h1>
			</header>
		</section>
		<section class="font d-sm-none">
			<header>
				<h1 class="year-font phone">2018</h1>
			</header>
		</section>
	</div>
	<button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded" data-toggle="collapse" aria-controls="navbarContent" [attr.aria-expanded]="!isExpanded">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse mobile-style" *ngIf="isExpanded" id="navbarContent" [ngbCollapse]="!isExpanded">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" (click)="isExpanded = !isExpanded">
					<span class="glyphicon glyphicon-home" style="color: #33B0FF"></span> 
					Home
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/new-student" routerLinkActive="active" (click)="isExpanded = !isExpanded">
					<span class="glyphicon glyphicon-user" style="color: #33B0FF"></span> 
					Ditt Nolle-P
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/activity" routerLinkActive="active" (click)="isExpanded = !isExpanded">
					<!-- <span class="glyphicon glyphicon-sunglasses"></span> -->
					<img class="img-glyph img-glyph" src="/assets/questmark.png">
					Aktivitet
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/info" routerLinkActive="active" (click)="isExpanded = !isExpanded">
					<!-- <span class="glyphicon glyphicon-sunglasses"></span> -->
					<span class="glyphicon glyphicon-earphone" style="color: #33B0FF"></span>
					Kontakt
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/scoreboard" routerLinkActive="active" (click)="isExpanded = !isExpanded">
					<!-- <span class="glyphicon glyphicon-exclamation-sign" style="color: red"></span> -->
					<img class="img-glyph img-glyph" src="/assets/pokal.png">
					Nollekampen
				</a>
			</li>
		</ul>
	</div>
	<div class="collapse navbar-collapse menu-none-mobile" id="navbarContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home" routerLinkActive="active">
					<span class="glyphicon glyphicon-home" style="color: #33B0FF"></span>
					 Home 
					<span class="sr-only"></span>
					<div class="arrow arrow-left"></div>
					<div class="line lineLeft"></div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/new-student" routerLinkActive="active">
					<span class="glyphicon glyphicon-user" style="color: #33B0FF"></span>
					 Ditt Nolle-P 
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" routerLink="/activity" routerLinkActive="active">
					<!-- <span class="glyphicon glyphicon-sunglasses"></span> -->
					<img class="img-glyph img-glyph" src="/assets/questmark.png">
					 Aktivitet
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" routerLink="/info" routerLinkActive="active">
					<span class="glyphicon glyphicon-earphone" style="color: #33B0FF"></span>
						Kontakt
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/scoreboard" routerLinkActive="active">
					<!-- <span class="glyphicon glyphicon-exclamation-sign" style="color: red"></span> -->
					<img class="img-glyph img-glyph" src="/assets/pokal.png">
					 Nollekampen 
					<span class="sr-only"></span>
					<div class="arrow arrow-right"></div>
					<div class="line lineRight"></div>
				</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>
