<crud>
	<div picture>
		<img class="img-top" src="assets/logos/nollep2018.png" alt="Card image cap">
		<!-- <div class="card-body">
		</div> -->
	</div>
	<div text>
		<h1>Ditt Nolle-P</h1>
		<br>
		<h5>Varför ska du komma på Nolleperioden?</h5>
		<p>Jo för att det är en otroligt rolig period där du snabbt lär känna dina nya kurskamrater och även får många nya vänner bland de olika programmen. Skellefteå har ett ganska litet Campus vilket många här ser som ett stort plus då det bidrar till en trevlig och välkomnande stämning. Alla tar hand om alla och vi accepterar och uppskattar olikheter.</p>
		<br>
		<p><strong>Så</strong> kasta tråkiga fördomar om att nollning bara handlar om pennalism och alkohol åt sidan och ge oss en chans att visa att det är betydligt trevligare än så. Första dagen bjuder vi på mat!</p>
		<br>
		<p>Saker att tänka på inför Nolle-P:</p>
		<ul style="list-style-type:disc">
			<li>
				<strong>Bjud på dig själv.</strong> 
				Alla tycker det är roligt när man gör bort sig. 
				Därför blir det så mycket roligare om alla gör det hela tiden. Vi skrattar med varandra, inte åt varandra.
			</li>
			<li>
				<strong>Tag med pengar.</strong> 
				Det kan bli mycket snabbmat, och dessutom har studentpuben Traversen öppet nästan varje kväll under nolleperioden. 
				Traversen är en fantastiskt mysig mötesplats som givetvis också erbjuder alkoholfria alternativ. 
				Man kan emellertid <strong>inte</strong> betala med kort på Traversen - endast kontanter.
			</li>
			<li>
				<strong>Sov ordentligt.</strong> 
				Det är klart att allt är kul, men någon gång måste man ju vila. 
				Det finns en vilodag under Nolleperioden, ett typiskt bra tillfälle att komma och koppla av med Phösarna, käka snacks och spela sällskapsspel.
			</li>
			<li>
				<strong>Respektera skådespelet.</strong> 
				Det är kul, och det blir så mycket roligare om alla spelar med. 
				Även om du skulle känna att det inte riktigt är din grej - tänk på att respektera andras önskan att delta. 
				Många ångrar sig i efterhand om de skippat sin Nolleperiod så även om du inte är helt bekväm i början, 
				ge det en chans! Ingen kommer tvinga dig till något du inte är bekväm med, du känner själv i vilken grad du vill delta.
			</li>
        </ul>  
	</div>
</crud>