/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    background-image: url("/assets/tiles/cartographer.png");
    background-repeat: repeat;
    color: #656566;
}

.img-top {
    height: auto;
    width: 40vh; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Font Family Setup*/
@font-face {
    font-family: jurrasic-park;
    src: url("/assets/fonts/JurassicPark.woff") format("woff");
}
@font-face {
    font-family: star-jedi;
    src: url("/assets/fonts/Starjedi.woff") format("woff");
}

